@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title_item {
    color: #000;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 54px;
}

.section-title_item:before {
    content: "";
    position: absolute;
    width: 170px;
    height: 1px;
    background: #EC7979;
    bottom: 0;
    left: calc(50% - 85px);
}

.section-description_item {
    padding-top: 40px;
    padding-bottom: 83px;
    color: #86878B;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Navigayion header*/
.home-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)),url(../img/home-banner.png) center/cover;
    padding: 207px 0 185px;
}

.menu__burger,
.burger-list{
    display: none;
}

.container-home {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header_element {
    width: 100%;
    background: #000;
    position: fixed;
    z-index: 10;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo_item {
    position: relative;
    padding: 22px 0;
    left: -54px;
}

.header-logo_item img{
    width: 87px;
    height: 31px;
}
.navigation-list_item a{
    width: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    padding: 28px 0;
}

.navigation-list_item a:hover {
    background: #EC7979;
}

.navigation-list_item a:active {
    background: #AB4949;
}

/*Home banner*/

.container-home{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

.container-home_item {
    display: flex;
    flex-direction: column;
}

.forms-title_item {
    color: #333;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 100%;
    padding: 29px 60px 73px 60px;
}

.text-free_item {
    color: #EC7979;
    font-size: 24px;
}

.home-title_item {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 73px;
    padding-bottom: 55px;
    position: relative;
}

.home-title_item:before {
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background: #FFF;
    bottom: 0;
}

.home-description_item {
    color: #FFF;
    width: 270px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 42px;
    margin-bottom: 42px;
}

.btn-download a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FFF;
    width: 270px;
    height: 58px;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.btn-download a:hover {
    color: #EC7979;
    border-color: #EC7979;
}

.btn-download a:active {
    color: #FFF;
    background-color: #AB4949;
    border: none;
}

.home-forms {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    position: relative;
    top: -23px;
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 450px;
    min-width: calc((470 * 100%) / 1170);

}

.authorization-form_item {
    display: flex;
    flex-direction: column;
    gap: 33px;
    flex-shrink: 0;
    justify-content: center;
    margin: 0 50px;
}

.authorization-item {
    width: 100%;
    padding-bottom: 16px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    font-size: 16px;
}

.authorization-item input {
    outline: none;
    border: none;
}

.authorization-item::placeholder {
    color: #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-authorization {
    border: none;
    border-radius: 0 0 10px 10px;
    background: #EC7979;
    width: 100%;
    height: 60px;
    margin-top: 75px;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.btn-authorization:hover {
    background-color: #AB4949;
}

.btn-authorization:active {
    background-color: #EC7979;
}

/*Social*/
.social {
    padding: 16px 0 18px;
    background: #F8EFEF;
}

.container-social_media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.social-media_about {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.container-social_media .footer-social_list svg {
    width: 70px;
    height: 70px;
}

.container-social_media .footer-social_list svg:hover path{
    stroke: #000;
}

.social-title_item {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.social-description_item {
    color: #86878B;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Tabs*/
.tabs {
    padding: 99px 0 40px;
}

.navigation-list {
    display: flex;
    align-items: center;
}
.navigation-list_name {
    width: 156px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: -1px;
}

.navigation-list_name a{
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navigation-list_name:nth-child(1) {
    width: 203px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #FFF;
}

.container-description {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    border: 1px solid #C6CBCD;

}

.container-tabs_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((570 * 100%) / 1170);
}

.container-img {
    flex: 0 0 calc((470 * 100%) / 1170);
    min-height: 385px;
    position: relative;
}

.container-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tabs-title_item {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 42px 0 68px 0;
}

.tabs-description_item {
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 560px;
    margin: 0 30px 27px 0;
}

.btn-tabs a {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 58px;
    background: #EC7979;
    margin-bottom: 54px;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.btn-tabs a:hover {
    background-color: #AB4949;
}

.btn-tabs a:active {
    background-color: #EC7979;
}

/*About*/
.about {
    padding: 40px 0 81px;
}

.container-cart_list {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.container-cart_item {
    width: calc((100% - 40px) / 3);
}

.container-cart_img {
    width: 92px;
    height: 92px;
    border: 1px solid #EC7979;
    border-radius: 95px;
    margin:auto;
    position: relative;
}

.container-cart_img img{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.cart_img {
    width: 65px;
    height: 65px;
}

.container-cart_description {
    padding-top: 73px;
}

.container-cart_title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.container-cart_description_text {
    padding-top: 41px;
}

.cart_description_text {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Pricing*/
.pricing {
    padding-top: 104px;
    padding-bottom: 50px;
    background: #F5F5F5;
}

.pricing-cart_list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.pricing-cart_item {
    width: calc((100% - 30px) / 3);
}

.description-cart_item {
    color: #86878B;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    border: 1px solid #F5F5F5;
    background: #FFF;
    padding: 12px;
}

.description-cart_item:nth-child(1) {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    background: #333;
    padding: 12px;
}

.description-cart_item:nth-child(2) {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    padding: 27px;
    background: #333;
}

.description-cart_item:nth-child(3) {
    color: rgba(255, 255, 255, 0.50);
    background: #333;
}

.pricing-cart_item:hover {
    position: relative;
    bottom: 20px;
    box-shadow: 0 4px 10px rgba(51, 51, 51, 0.20);
}
/*Reviews*/
.reviews {
    padding: 104px 0 64px;
}

.reviews-cart_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.reviews-cart_item {
    width: calc((100% - 60px) / 3);
}

.description-reviews_item {
    color: #86878B;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    background: #E2E2E2;
    padding: 38px 23px;
    position: relative;
}

.description-reviews_item:before {
    position: absolute;
    content: "";
    left: 70px;
    bottom: -20px;
    width: 0;
    height: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    z-index: -1;
}

.description-people_item {
    margin-top: 66px;
    display: flex;
    gap: 30px;
    width: calc((100% - 60px) / 3);
}

.icon-reviews_item img {
    border-radius: 70%;
    position: relative;
    top: -11px;
}

.icon_item {
    width: 70px;
    height: 70px;
}

.name-post_item {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.author-name {
    width: 269px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.post_item {
    width: 270px;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Banner*/
.banner {
    background-blend-mode: overlay;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../img/banner.png) center/cover;
    padding: 96px 0 50px;
}

.container-modification__title {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.container-modification__title:before {
    content: "";
    position: absolute;
    width: 170px;
    height: 1px;
    background: #FFF;
    bottom: 0;
    left: calc(50% - 85px);
}

.container-modiifcation__description {
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-banner a {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 2px solid #FFF;
    width: 370px;
    height: 58px;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.btn-banner a:hover {
    color: #EC7979;
    border-color: #EC7979;
}

.btn-banner a:active {
    color: #FFF;
    background-color: #AB4949;
    border: none;
}

/*Contact*/
.contact {
    padding: 96px 0 50px;
}

.contact-form_item {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.contact_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc((100% - 30px) / 2);
}

.contact_information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.contact_information_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-title_item {
    color: #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-input_item {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    font-size: 16px;
}

.contact-textarea_item {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    resize: none;
    font-size: 16px;
}

.contact-textarea_item:focus {
    background: rgba(0, 0, 0, 0.02);
}

.btn-contact_item {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 58px;
    background: #EC7979;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

.btn-contact_item:hover {
    background-color: #AB4949;
}

.btn-contact_item:active {
    background-color: #EC7979;
}

/*Navigation footer*/
.footer_element{
    background: #000;
    padding: 35px 0 30px;

}

.footer-social_list {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 0 auto;
}

.footer-social_list a  {
    transition: 1s;
}

.footer-social_list path {
    width: 53.2px;
}

.footer-social_list a:nth-child(1):hover {
    transform: translateX(-20px);
}

.footer-social_list a:nth-child(1):hover path{
    fill: #4267B2;
}

.footer-social_list a:nth-child(2):hover {
    transform: scale(2);
}

.footer-social_list a:nth-child(2):hover path{
    fill: #1DA1F2;
}

.footer-social_list a:nth-child(3):hover {
    transform: skew(20deg);
}

.footer-social_list a:nth-child(3):hover path{
    fill: #0e76a8;
}

.footer-social_list a:nth-child(4):hover {
    transform: translateY(-20px);
}

.footer-social_list a:nth-child(4):hover path{
    fill: #f20c0c;
}

.footer-social_list a:nth-child(5):hover {
    transform: scaleX(-1);
}

.footer-social_list a:nth-child(5):hover path{
    fill: #833AB4;
}

.footer-social_list a:nth-child(6):hover {
    transform: scale(2);
}

.footer-social_list a:nth-child(6):hover path{
    fill: #FFF;
}

.footer-social_list a:nth-child(7):hover {
    transform: skew(-20deg, 20deg);
}

.footer-social_list a:nth-child(7):hover path{
    fill: #ee802f;
}

.developer {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 38px;
}

@media (max-width: 1290px) {
    .header-logo_item {
        position: relative;
        left: 0;
    }
}

@media (max-width: 1200px) {

    /*Navigayion header*/
    .header-logo_item {
        position: relative;
        padding-left: 100px;
        left: 0;
    }

    .container-home {
        gap: 30px;
    }

    /*Home banner*/
    .home-banner {
        padding: 212px 0 106px;
    }

    .container-home_item {
        padding-left: 100px;
    }

    .home-title_item {
        max-width: 453px;
        font-size: 36px;
        padding: 37px 0 41px;
    }

    .home-description_item {
       margin: 31px 0;
    }

}

@media (max-width: 1080px) {

    /*Social*/
    .container-social_media {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .social-media_about {
        justify-content: center;
        text-align: center;
        gap: 13px;
    }

    .social-title_item {
        font-size: 18px;
    }

    .section-description_item {
        font-size: 14px;
    }

    .container-social_media .footer-social_list svg {
        width: 52px;
        height: 52px;
    }
}

@media (max-width: 800px) {

    .section-title_item {
        font-size: 24px;
    }

    .section-description_item {
        font-size: 14px;
        padding: 25px 0 50px;
    }
    /*Navigayion header*/
    .header_element {
        width: 100%;
        background: #000;
        position: fixed;
        z-index: 10;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-logo_item {
        position: relative;
        left: 0px;
        padding: 10px 0 10px 20px;
    }

    .header-logo_item img{
        width: 87px;
        height: 31px;
    }
    .navigation-list_item{
       display: none;

    }

    /*Burger-menu*/
    .header__logo{
        padding: 16.77px 0 16.32px 20px;
        position: relative;
        z-index: 1;
    }
    .header__menu{
        display: none;
    }
    .menu__burger{
        display: block;
    }
    header .wrapper {
        padding: 0;
    }
    #menu__burger {
        display: none;
    }
    .burger_btn {
        display: flex;
        align-items: center;
        width: 24px;
        height: 18px;
        position: fixed;
        z-index: 11;
        top: 19px;
        right: 35px;
        cursor: pointer;
    }
    .burger_btn > span,
    .burger_btn > span::before,
    .burger_btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #FFF;
        z-index: 11;
        transition-duration: .25s;
    }
    .burger_btn span::before {
        content: "";
        top: -7.5px;
    }
    .burger_btn span::after {
        content: "";
        top: 7.5px;
    }
    .burger-list {
        display: block;
        visibility: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        padding: 56px 20px 0 20px;
    }
    .burger-list a {
        display: flex;
        justify-content: center;
        color: #FFF;
        padding: 24px 0;
    }
    #menu__burger:checked ~ .burger_btn > span {
        transform: rotate(45deg);
    }
    #menu__burger:checked ~ .burger_btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__burger:checked ~ .burger_btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__burger:checked ~ .burger-list {
        visibility: visible;
        left: 0;
    }

    .burger-list__item a:hover {
        background: #EC7979;
    }

    .burger-list__item a:active {
        ackground: #AB4949;
    }

    /*Home banner*/
    .home-banner {
        padding: 123px 0 50px;
    }

    .container-home{
        flex-direction: column;
        gap: 56px;
    }

    .container-home_item {
        margin: 0 auto;
        padding-left: 0;
    }

    .home-logo {
        display: none;
    }

    .home-title {
        width: 100%;
        text-align: center;
    }

    .home-title_item:before {
        left: calc(50% - 85px);
    }

    .home-description_item{
        width: 100%;
        text-align: center;
    }

    .btn-download {
        width: 100%;
    }

    .btn-download a {
        width: 100%;
    }

    .forms-title_item {
        padding: 29px 28px 73px 20px;
    }

    .text-free_item {
        color: #EC7979;
        font-size: 24px;
    }

    .home-forms {
        width: 100%;
    }

    .authorization-form_item {
        margin: 0 20px;
    }

    /*Social*/
    .container-social_media {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .social-media_about {
        justify-content: center;
        text-align: center;
        gap: 13px;
    }

    .social-title_item {
        font-size: 18px;
    }

    .container-social_media .footer-social_list svg {
        width: 26px;
        height: 26px;
    }

    /*Tabs*/
    .tabs {
        padding: 41px 0 40px;
    }

    .navigation-list_name {
        width: 100%;
    }

    .container-tabs_item {
        padding: 0 21px 0 25px;
        width: 100%;
    }

    .tabs-title_item {
        width: 100%;
        text-align: center;
    }

    .tabs-description_item {
        text-align: center;
        font-size: 13px;
        margin: 0 auto;
    }

    .container-img {
        display: none;
    }

    .navigation-list {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .navigation-list_name:nth-child(1) {
        width: 100%;
    }

    .btn-tabs {
        margin-top: 29px;
        width: 100%;
        padding: 0 21px 0 25px;
    }

    .btn-tabs a{
        width: 100%;
        margin-bottom: 30px;
    }

    /*About*/
    .container-cart_list {
        display: flex;
        flex-direction: column;
        justify-items: center;
        gap: 40px;
        flex-wrap: wrap;

    }

    .container-cart_item {
        width: 100%;
    }

    .cart_img {
        width: 65px;
        height: 65px;
    }

    .container-cart_description {
        padding-top: 73px;
    }

    .container-cart_title {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .container-cart_description_text {
        padding-top: 41px;
    }

    .cart_description_text {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /*Pricing*/
    .pricing-cart_list {
        flex-direction: column;
        gap: 27px;
    }

    .pricing-cart_item {
        width: 100%;
    }

    .description-cart_item:nth-child(1) {
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        background: #333;
        padding: 12px;
    }

    .description-cart_item:nth-child(2) {
        color: #FFF;
        font-size: 36px;
        font-weight: 700;
        padding: 27px;
        background: #333;
    }

    .description-cart_item:nth-child(3) {
        color: rgba(255, 255, 255, 0.50);
        background: #333;
    }

    .pricing-cart_item:hover {
        position: relative;
        bottom: 20px;
        box-shadow: 0 4px 10px rgba(51, 51, 51, 0.20);
    }

    /*Reviews*/
    .reviews {
        padding: 46px 0 31.5px;
    }

    .reviews-cart_item {
        width: 100%;
    }

    .reviews-cart_item:nth-child(2) {
        display: none;
    }
    .reviews-cart_item:nth-child(3) {
        display: none;
    }

    .icon_item {
        width: 57px;
        height: 57px;
    }

    .author-name {
        font-size: 14px;
    }

    .post_item {
        padding: 10px 0 9px;
        font-size: 13px;
    }

    /*Banner*/
    .banner {
        padding: 46px 0 58px;
    }

    .container-modification__title {
        font-size: 24px;
    }

    .btn-banner a {
        width: 100%;
    }

    /*Contact*/
    .contact {
        padding: 46px 0 40px;
    }

    .contact-form_item {
        flex-direction: column;
        gap: 50px;
    }

    .contact_item {
        width: 100%;
    }

    .contact_information {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }

    .contact-title_item {
        font-size: 18px;
    }

    .contact-title_item {
        font-size: 18px;

    }

    .contact-textarea_item {
        font-size: 18px;
    }

    .btn-contact_item {
        width: 100%;
    }

    /*Navigation footer*/
    .footer_element{
        padding: 35px 0 29px;
    }

    .footer-social_list svg {
        width: 26px;
    }

    .developer {
        margin-top: 27px;
        padding: 15px 0 16px;
        font-size: 14px;
    }
}
